---
// src/pages/index.astro
import '../styles/global.css';
---
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <title>Yixiang Zhang</title>
  </head>
  <body>
    <p>Scaffold OK.</p>
  </body>
</html>
